
{% extends 'base.html' %}
{% load static %}


{% block meta %}

<meta name="description" content="{{category.desc | truncatewords:155}}">


{% endblock %}

{% block title %}

{{category.name}} -mocajo online shop

{% endblock %}

{% block content %}
<section>
  <div class="container my-5">

    <header class="mb-4">
      <h3>you have Searched For: {{query}}</h3>
    </header>

    <div class="row">
      {% for pro in products %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
          <div class="mask px-2" style="height: 50px;">
            <p href="#"><i class="fas  text-primary fa-lg float-end pt-3 m-1 " style="font-size:10px ">stocks:{{pro.stock}}</i></p>
          </div>
          <a href="#" class="text-center">
            <img src="{{pro.img.url}}" class="card-img-top rounded-2" style="width: 218px;height: 211px;"/>
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <a href="#" class="nav-link">{{pro.name}}</a>
            <div class="price-wrap mb-2">
              <strong class="">{{pro.price}}</strong>
            </div>
            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="{{pro.get_url}}" class="btn btn-outline-primary w-100">View product</a>
            </div>
          </div>
        </div>
      </div>

{% endfor %}
    </div>
  </div>

</section>

{% endblock %}